{
  "plugins": [["@babel/proposal-pipeline-operator", { "proposal": "fsharp" }]],
  "presets": [
    [
      "next/babel",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
