{
  "plugins": [
    "@babel/proposal-optional-chaining",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-export-namespace-from",
    "@babel/proposal-export-default-from",
    ["@babel/proposal-pipeline-operator", { "proposal": "fsharp" }]
  ]
}
