# Project dependencies
.cache
node_modules
yarn-error.log
build-storybook.log
vendor

# Build output
.next
storybook-static
public/sitemap.xml
public/feed
.vercel

# Environment variables
.env

# Test output
comparison
