/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */
a {
  color: inherit;
}

body {
  @apply bg-primary;
}

@layer utilities {
  @for $i from 1 to 6 {
    .pin-b-$i {
      bottom: $i * 1em * theme('line-height.tight');
    }

    .basis-$i {
      flex-basis: 1em * 10 * $i;
    }
  }

  .basis-100 {
    flex-basis: 100%;
  }

  .pin-y-50 {
    top: 50%;
  }

  .pin-x-50 {
    left: 50%;
  }

  .pin-50 {
    @apply pin-x-50 pin-y-50;
  }

  .pin-y-center {
    @apply pin-y-50;
    transform: translateY(-50%);
  }

  .pin-y-bottom {
    bottom: 0;
    transform: translateY(-50%);
  }

  .pin-x-center {
    @apply pin-x-50;
    transform: translateX(-50%);
  }

  .pin-center {
    @apply pin-50;
    transform: translate(-50%, -50%);
  }

  .avoid-break-inside {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.toolbar {
  @apply font-muli font-light;
}

pre.prism-code.line-numbers {
  position: relative;
  counter-reset: linenumber;
}

.token-line {
  display: block;
  counter-increment: linenumber;
  position: relative;
  padding-left: 3em;
}

.token-line::before {
  position: absolute;
  left: 0.4em;
  content: counter(linenumber);
  color: #999;
  display: block;
  border-right: 1px solid #999;
  padding-right: 0.9em;
  width: 2em;
}

/* TODO(mAAdhaTTah) convert to tailwind + use state from function */
.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity ease-out 600ms, transform ease-out 600ms;
}
