# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: v1-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            v1-npm-
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 24.x
      - run: npm ci
      - run: npm test
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          buildScriptName: "build:storybook"
          exitOnceUploaded: true
          onlyChanged: true
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
